503 5.5.0 SMTP protocol violation: A mail transaction is already in progress

**Version:**
 - listmonk: 2.2.0 / 2.3.0 via official docker image
 - OS: Ubuntu 20.04.5 LTS

**Description of the bug and steps to reproduce:**

Lately, whenever I send a campaign, after a few hundred successfully sent messages, lots of these errors appear in the log files and the campaign is auto-paused.

    2022-11-29 14:27:51 manager.go:391: error sending message in campaign [name]: subscriber [uuid]: 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4

My email hosting provider tells me that this must be listmonks fault: "The mail client should not send another request before the previous one was resolved."

My settings are set to 1 thread and max 5 mails per second per thread.

I'm fairly certain that my provider secretly lowered their limits on the number of sendable mails per timeframe, since these errors only started happening recently. I will try to send even fewer mails per second in the future.

However, just to be sure this is not some listmonk bug and for documentation, I opened this here.


same here. smtp server is official strato stmp (strato = german hosting provider) 
settings: 1 thread, max 5 mails per second

@github-luckow-org Yes, I got Strato too... Seems like a problem on their end.

Closing this as it's been confirmed to be an issue with the SMTP provider.

Hey @knadh,

the Strato support actualy came back to me with some useful additional information. (Not sure what ist personal data in these log messages, so I marked everything that could be an ID with ***.)

First a transmit rate limit is exceeded, the MTA reacts with this:
    
    mta.mail_2022-12-08T16:Dec 8 16:35:47 joses mta[***]: *** ***
    slot=[smtp.strato.de/tls](http://smtp.strato.de/tls) from=<[newsletter@***.de](mailto:newsletter@***.de)>
    to=<[***@web.de](mailto:***@web.de)> [auth=newsletter@***.de](mailto:auth=newsletter@***.de) ridsrc=:MAUT
    rid=*** tariff=*** account=*** class=*** act= trial=0 rsets=0
    itls=T:TLSv1.3:TLS_AES_256_GCM_SHA384 noplain=1 bounce=?:?,?,?,?,?,?
    stat=Reject:RCPT:RATELIMIT:ACCOUNT
    cause=450_4.7.0_Transmit_rate_limit_exceeded,_try_again_later_(ACC)

As a response to this, Listmonk seems to send another "MAIL FROM" command, which seems to cause the SMTP protocol violation:

    mta.mail_2022-12-08T16:Dec 8 16:35:47 joses mta[***]: - *** slot=[smtp.strato.de/tls](http://smtp.strato.de/tls)
    helo=localhost from=<[newsletter@***.de](mailto:newsletter@***.de)>
    [auth=newsletter@***.de](mailto:auth=newsletter@***.de) act= trial=0 rsets=0 bounce=?:?,?,?,?,?,?
    stat=Reject:RCPT:TRANS-PROGRESS substate=READ_CMD rset-pending=0 rcpt=(nil)
    cause=503_5.5.0_SMTP_protocol_violation:_A_mail_transaction_is_already_in_progress._See_RFC_5321,_section_4.1.1.2_and_4.1.4

Accordings to the support, this is how this situation should be handled correctly:

> In general: To take note of the error from the "RCPT TO", and because it is a 4xx error, to repeat it later automatically. Then there are 3 options: 
> 
> 1. Simply send the next "RCPT TO" command,
> 2. Send a "RSET" command, followed by another "MAIL FROM" command (this is the usual way),
> 3. Send an "EHLO" command, followed by another "MAIL FROM" command
>  
> In no case should you send a renewed "MAIL FROM", that's how you recognise the spammers. This is the
> protocol violation. The "MAIL FROM" starts an SMTP transaction. You cannot send an
> SMTP transaction during a running SMTP transaction

I don't have any knowledge in this area. But

- could Listmonk maybe recognize the "Transmit_rate_limit_exceeded" error and pause the campaign immediately?
- on a related note, I have my options set to "max 3 errors before the campaign is paused", but the logfile shows that the campaign is not really paused, there are many more errors following:

```
2022/12/17 11:47:33 manager.go:510: start processing campaign (November News)
2022/12/17 11:47:34 manager.go:392: error sending message in campaign November News: subscriber ***: 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4
2022/12/17 11:47:35 manager.go:392: error sending message in campaign November News: subscriber ***: 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4
2022/12/17 11:47:35 manager.go:534: error counted exceeded 3. pausing campaign November News
2022/12/17 11:47:35 manager.go:667: set campaign (November News) to paused
2022/12/17 11:47:36 manager.go:392: error sending message in campaign November News: subscriber ***: 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4
2022/12/17 11:47:37 manager.go:392: error sending message in campaign November News: subscriber ***: 421 4.7.0 too many MAIL FROM errors, closing transmission channel
2022/12/17 11:47:38 manager.go:425: error sending message 'Paused: November News': 450 4.7.0 Transmit rate limit exceeded, try again later (ACC)
2022/12/17 11:47:39 manager.go:392: error sending message in campaign November News: subscriber ***: 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4
2022/12/17 11:47:39 manager.go:534: error counted exceeded 3. pausing campaign November News
2022/12/17 11:47:40 manager.go:392: error sending message in campaign November News: subscriber ***: 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4
2022/12/17 11:47:41 manager.go:392: error sending message in campaign November News: subscriber ***: 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4
2022/12/17 11:47:42 manager.go:392: error sending message in campaign November News: subscriber ***: 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4
2022/12/17 11:47:42 manager.go:534: error counted exceeded 3. pausing campaign November News
2022/12/17 11:47:42 manager.go:425: error sending message 'Paused: November News': 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4
2022/12/17 11:47:43 manager.go:392: error sending message in campaign November News: subscriber ***: 421 4.7.0 too many MAIL FROM errors, closing transmission channel
2022/12/17 11:47:44 manager.go:425: error sending message 'Paused: November News': 450 4.7.0 Transmit rate limit exceeded, try again later (ACC)
2022/12/17 11:47:45 manager.go:392: error sending message in campaign November News: subscriber ***: 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4
2022/12/17 11:47:46 manager.go:392: error sending message in campaign November News: subscriber ***: 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4
2022/12/17 11:47:46 manager.go:534: error counted exceeded 3. pausing campaign November News
2022/12/17 11:47:47 manager.go:392: error sending message in campaign November News: subscriber ***: 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4
2022/12/17 11:47:48 manager.go:392: error sending message in campaign November News: subscriber ***: 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4
2022/12/17 11:47:48 manager.go:425: error sending message 'Paused: November News': 503 5.5.0 SMTP protocol violation: A mail transaction is already in progress. See RFC 5321, section 4.1.1.2 and 4.1.4
```

And @github-luckow-org there is an option in your Strato mailbox setting called "Postfach wird zum Versand von größeren E-Mail Mengen genutzt" (mailbox is used for sending larger amounts of email), which I'm trying out right now. Not sure what the limit is with or without this setting, hope the support comes back to me with this info soon.

Thank you. This is helpful. Re-opening the issue to debug.

Figured out (finally!) and fixed the issue in the underlying smtp-pool lib. https://github.com/knadh/listmonk/commit/274d86422c5d44fe393d80b5bad6f19fb442fb66.